.main{
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.post{
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 65px;
    padding-right: 20px;
    border-bottom: 1px solid #000;
}

.post img{
    width: 100%;
}

.post h1{
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.paginator{
    width: 100%;
    display: flex;
    justify-content: center;
}

.paginator div{
    margin:25px;
}

.paginator .active{
    cursor: pointer;
}

.paginator .disabled{
    cursor: not-allowed;
    color: rgb(117, 109, 109);
}